.chess-board {
  display: grid;
  grid-template-rows: repeat(8, 40px);
  border: 1px solid #333;
}

.chess-rank {
  display: grid;
  grid-template-columns: repeat(8, 40px);
}

.chess-square {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  font-weight: 700;
  color: #111;
  text-shadow:
    0 0 1px rgba(0,0,0,0.4),
    0 1px 1px rgba(0,0,0,0.3);
}

.chess-square.dark {
  color: #000;
  background: #b58863;
}


.chess-square.light {
  background: #f0d9b5;
}

.board-wrapper {
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 20px auto 20px;
}

.file-labels {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  text-align: center;
  font-size: 12px;
}

.rank-labels {
  display: grid;
  grid-template-rows: repeat(8, 40px);
  text-align: center;
  font-size: 12px;
}
